.header {
	background-color: #0b0c10;
	font-weight: bold;
	color: white;
}
Navbar {
	background-color: #0b0c10;
}

.subhead:hover {
	background-color: #45a29e;
}
.tagline {
	color: #c5c6c7;
}
.tagline:hover {
	color: #c5c6c7;
	pointer-events: none;
	cursor: none;
}
