.team-body {
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 100vh;
}
/* .cards-position {
	position: relative;
} */
/* .cards-position::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#f00, #f0f);
	clip-path: circle(30% at right 70%);
	z-index: -10;
}
.cards-position::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgb(38, 191, 218), rgb(0, 122, 170));
	clip-path: circle(20% at 10% 50%);
	z-index: -10;
} */

.t-container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.t-container .t-card {
	position: relative;
	width: 300px;
	height: 350px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.team-group {
	margin: 0;
	padding: 0;
	height: 100vh;
}
.team-group img {
	width: 100%;
	height: auto;
}
.image {
	background-image: url('../../img/group.jpg');
	background-position: center;
	background-repeat: no-repeat;
	height: 80%;
	width: 100vw;
	justify-content: center;
	display: flex;
}

.t-container .t-card .t-content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0.5;
	transition: 0.5s;
}
.t-container .t-card:hover .t-content {
	opacity: 1;
	transform: translateY(-30px);
}
.t-container .t-card .t-content .t-imgBx {
	position: relative;
	width: 175px;
	height: 175px;
	border-radius: 50%;
	overflow: hidden;
}
.t-container .t-card .t-content .t-imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.t-container .t-card .t-content .t-contentBx h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}
.t-container .t-card .t-content .t-contentBx h3 p {
	font-size: 12px;
	font-weight: 300;
}
.t-container .t-card .sci {
	position: absolute;
	bottom: 50px;
	list-style: none;
	display: flex;
}

.t-container .t-card .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(35px);
	transition: 0.5s;

	opacity: 0;
}

.t-container .t-card:hover .sci li {
	transform: translateY(10px);
	opacity: 1;
}
.t-container .t-card .sci li a {
	color: #fff;
	font-size: 24px;
}
.t-container .t-card .sci li a:hover {
	color: rgb(3, 108, 194);
}

/* small squaress */

.t-container .t-card span::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background: rgb(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	opacity: 0;
	transition: 0.5s;
	animation: animate 2s ease-in-out infinite;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.t-container .t-card:hover span::before {
	top: -50px;
	left: 50px;
	width: 100px;
	height: 100px;
	opacity: 1;
}
.t-container .t-card span::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background: rgb(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	opacity: 0;
	transition: 0.5s;
	animation: animate 2s ease-in-out infinite;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
	animation-delay: -1s;
}
.t-container .t-card:hover span::after {
	bottom: -50px;
	right: 50px;
	width: 100px;
	height: 100px;
	opacity: 1;
}
@keyframes animate {
	0%,
	100% {
		transform: translateY(10px);
	}
	50% {
		transform: translateY(-10px);
	}
}
.team-description {
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
}
.team-description p {
	color: #c5c6c7;
	letter-spacing: 1px;
	font-size: 25px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cards-position h1 {
	position: relative;
	padding-top: 2%;
	font-size: 40px;
	color: #c5c6c7;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
@media screen and (max-width: 1000px) {
	.team-description p {
		font-size: 20px;
	}
}
@media screen and (max-width: 780px) {
	.team-description p {
		font-size: 16px;
	}
}
