/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
}

/*---------------------------------------------*/

/*---------------------------------------------*/

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
	outline: none;
	border: none;
}

textarea:focus,
input:focus {
	border-color: transparent !important;
}

input::-webkit-input-placeholder {
	color: #fff;
}
input:-moz-placeholder {
	color: #fff;
}
input::-moz-placeholder {
	color: #fff;
}
input:-ms-input-placeholder {
	color: #fff;
}

textarea::-webkit-input-placeholder {
	color: #fff;
}
textarea:-moz-placeholder {
	color: #fff;
}
textarea::-moz-placeholder {
	color: #fff;
}
textarea:-ms-input-placeholder {
	color: #fff;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Contact 1 ]*/

.contact1 {
	width: 100%;
	min-height: 100%;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: block;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
}
.contact1::before {
	display: block;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	-moz-box-shadow: inset 0px 0px 10px 10px #0b0c10;
	-webkit-box-shadow: inset 0px 0px 10px 10px #0b0c10;
	box-shadow: inset 0px 0px 10px 10px #0b0c10;
}
.container-contact1 {
	width: 100%;
	background-image: url('../../img/contact.jpg');
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;
	overflow: hidden;
	background-size: cover;
	height: 77vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	padding: 90px 130px 88px 148px;
}

/*------------------------------------------------------------------
[  ]*/
/* .contact1-pic {
	width: 50%;
	background-image: url('../../img/contact.jpg');
	background-repeat: no-repeat;
	background-position: center;
	width: 50%;
	height: 50%;
	background-size: cover;
} */

.contact1-pic img {
	max-width: 100%;
}

/*------------------------------------------------------------------
[  ]*/
.contact1-form {
	width: 30%;
}

.contact1-form-title {
	display: block;
	font-weight: bolder;
	font-size: 30px;
	color: #fff;
	line-height: 1.2;
	text-align: center;
	padding-bottom: 44px;
}

input.input1 {
	height: 50px;
	/* border-radius: 25px; */
	padding: 0 30px;
}
/* input.input1 + .shadow-input1 {
	border-radius: 25px;
} */

textarea.input1 {
	min-height: 150px;
	/* border-radius: 25px; */
	padding: 12px 30px;
}
/* textarea.input1 + .shadow-input1 {
	border-radius: 25px;
} */

/*---------------------------------------------*/
.wrap-input1 {
	position: relative;
	width: 100%;
	z-index: 1;
	margin-bottom: 20px;
}

.input1 {
	display: block;
	width: 100%;
	background: transparent;
	font-weight: 700;
	font-size: 15px;
	line-height: 1.5;
	color: #fff;
	border-bottom-style: solid;
	border-bottom-color: #45a29e;
}

.shadow-input1 {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 0px 0px;
	color: rgba(70, 148, 184, 0.5);
	background: transparent;
}

.input1:focus + .shadow-input1 {
	-webkit-animation: anim-shadow 0.5s ease-in-out forwards;
	animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 80px 30px;
		opacity: 0;
	}
}

@keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 80px 30px;
		opacity: 0;
	}
}

/*---------------------------------------------*/
.container-contact1-form-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.contact1-form-btn {
	min-width: 193px;
	height: 50px;
	border-radius: 25px;
	background: #45a29e;
	font-weight: bold;
	font-size: 15px;
	line-height: 1.5;
	color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.contact1-form-btn i {
	margin-left: 7px;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.contact1-form-btn:hover {
	background: #66fcf1;
	color: transparent;
}

.contact1-form-btn:hover i {
	-webkit-transform: translateX(10px);
	-moz-transform: translateX(10px);
	-ms-transform: translateX(10px);
	-o-transform: translateX(10px);
	transform: translateX(10px);
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
	.contact1-pic {
		width: 33.5%;
	}

	.contact1-form {
		width: 44%;
	}
}

@media (max-width: 992px) {
	.container-contact1 {
		padding: 90px 80px 88px 90px;
	}

	.contact1-pic {
		width: 35%;
	}

	.contact1-form {
		width: 55%;
	}
}

@media (max-width: 768px) {
	.container-contact1 {
		padding: 90px 80px 88px 80px;
		background-image: none;
		background-color: #0b0c10;
	}

	.contact1-pic {
		display: none;
	}

	.contact1-form {
		width: 100%;
	}
}

@media (max-width: 576px) {
	.container-contact1 {
		padding: 90px 15px 88px 15px;
	}
}
