@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
.swiper-container {
	width: 100%;
	height: 30vh;
}

.swiper-slide {
	text-align: center;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 80%;
	height: 80%;
	object-fit: cover;
	filter: blur(4px);
	-webkit-filter: blur(4px);
	transition: 0.5s;
	border-radius: 20px;
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(250, 250, 250, 0.1)));
}
.swiper-slide img:hover {
	position: relative;
	width: 100%;
	filter: blur(0px);
	-webkit-filter: blur(0px);
	border-radius: 10px;
	transition: 0.5s;

	transform: scale(1.5);
	z-index: 101;
}
